<div class="textContainerMedia">
    <p class="copete">Acá están con quiénes no podés contar y quienes están amonestados, por ende, al borde de la suspensión. Gracias a Belén Alonso (jugadora de Las Aston en la Copa Cosa de Serranas) por prestarse para la imagen ilustrativa de esta nota.</p>
    <div class="textoNota"><div>
            Suspendidos que se agregan a la publicación:</div>
        <div>
            &nbsp;</div>
        <div>
            <span style="color: rgb(62, 69, 76); font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 15.359999656677246px; white-space: pre-wrap; background-color: rgb(247, 247, 247);">Atlético en reposo: Giménez, Jonatan, vuelve fecha 10. Brigada Z: López Luis. Vuelve fecha 10. Mañana te digo: Martínez, Lucas, vuelve fecha 10.</span></div>
        <div>
            <div>
                <strong>El Pincha: Zabala, Manuel</strong>. Habiendo estado sancionado, fue e insultó desde afuera al árbitro. Evidentemente muchas ganas de jugar la Copa no tenía. Expulsado del certamen.</div>
            <div>
                &nbsp;</div>
        </div>
        <div>
            &nbsp;</div>
        <div>
            &nbsp;</div>
        <div id="cke_pastebin">
            <u><em>Advertidos:</em></u></div>
        <div id="cke_pastebin">
            Los Pasucci (por hablarle de más al árbitro una vez culminado el encuentro)</div>
        <div id="cke_pastebin">
            Irreversibles (por comentarios que no corresponden hacia el veedor)</div>
        <div id="cke_pastebin">
            "Chaleco" (Como un mármol) por conducta indebida dentro del campo de juego.</div>
        <div id="cke_pastebin">
            Luciano Gómez (Aston Birra).&nbsp;</div>
        <div id="cke_pastebin">
            Atlético en Reposo (por su hinchada).</div>
        <div id="cke_pastebin">
            Taponazo: Stefanoff, Marcelo. Conducta antideportiva. A la próxima se va de la competencia. &nbsp;</div>
        <div id="cke_pastebin">
            Puchitos (porque su hinchada “gozó” más de la cuenta)</div>
        <div id="cke_pastebin">
            Real Bañil (porque su hinchada se mostró agresiva verbalmente)</div>
        <div id="cke_pastebin">
            Ezequiel Bustamante (Real Bañil) (por mala conducta)</div>
        <div id="cke_pastebin">
            Ravenna, Luis (Juv Cristiana) por mala conducta y sanciones reiteradas.</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            <strong>Categoría A:</strong></div>
        <div id="cke_pastebin">
            Suspendidos</div>
        <div id="cke_pastebin">
            Los Pasucci: Agustín Vergara. Vuelve fecha 10.</div>
        <div id="cke_pastebin">
            CQC: Andrés Barriola, vuelve fecha 10. Insultó al juez., Corradi, Javier, vuelve fecha 10.Alberti, Gabriel, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Gordos: Arias, Nico vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Intocables: Cordero, Bachi, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            La Filarmónica: Caminos, Gastón, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Real Bañil: &nbsp;Ordoqui, Daniel, vuelve fecha 10.</div>
        <div>
            &nbsp;</div>
        <div id="cke_pastebin">
            Amonestados (pueden jugar):</div>
        <div id="cke_pastebin">
            CQC: &nbsp;Iturralde, Pablo. &nbsp; Peirano, Sergio, Romera, Gastón, Poggi, Paulo, Barriola, Andrés.</div>
        <div id="cke_pastebin">
            El Matador:Galán, Maximiliano. &nbsp;Meilán, Daniel. &nbsp; Bidegain, Juan. &nbsp;Valderrey, Ramiro, Ghezzi, Marcos, Gómez, Juan, Beneitez, Sebastián</div>
        <div id="cke_pastebin">
            El Rejunte de los Jueves: Torres, Víctor, Balbuena, Manuel</div>
        <div id="cke_pastebin">
            El Templo:Braile, Maximiliano, Olmos, Facundo. &nbsp;, Bertolín, Juan, Rampoldi, Maximiliano &nbsp;Mamorati, Pablo, &nbsp;Volpi, Manuel; &nbsp;Curcio, Agustín; Baldanza, Luciano</div>
        <div id="cke_pastebin">
            Gordos FC:Filomeni, Damián &nbsp;Arhia, Nicolás; Tapia, Matías;&nbsp;</div>
        <div id="cke_pastebin">
            Intocables:Saltalamachia, Francisco, Canales, Enrique</div>
        <div id="cke_pastebin">
            Cordero, Bachi &nbsp; &nbsp;Deanes, Leonardo, Darugna, Matías, Martínez, Nicolás</div>
        <div id="cke_pastebin">
            Juv Cristiana:Suárez, Santiago &nbsp; Vazquez, Marcelo &nbsp; Romay, Rodolfo, Ruarte, Lucas, Curbeti, Oscar</div>
        <div id="cke_pastebin">
            La Filarmónica:Caminos, Lucas &nbsp; Caminos, Facundo Conforti, Marcos &nbsp;Durruty, Gabriel &nbsp;Ruiz, Guillermo, Gaudenzi, Carlos</div>
        <div id="cke_pastebin">
            Los Borbotones:Hermida, Agustín, Flores, Juan; Barolomei, Pablo;&nbsp;</div>
        <div id="cke_pastebin">
            Los Pasucci: &nbsp;Vitale, Marco &nbsp; Turri, Juan &nbsp; Heredia, David &nbsp; Otegui Jonathan, Minardo, Rodrigo, Minardo, Simón, Vergara, Francisco, &nbsp;Testa, Juan P.</div>
        <div id="cke_pastebin">
            Minuto 90: Narciandi, Leandro &nbsp; Ramil, Braian, Monsalvo, Juan Pablo, Saracho, Enzo;&nbsp;</div>
        <div id="cke_pastebin">
            Paco Construcciones:Saracho, Ezequiel</div>
        <div id="cke_pastebin">
            Puchitos;Donvito, Sebastián &nbsp; Barragan, Sebastián, García, Luciano , Marchetti, Facundo, Del Giorgio, Pablo, García, Mariano, Heredia, Maximiliano</div>
        <div id="cke_pastebin">
            Real Bañil: Ordoqui, Diego &nbsp; Bustamante, Ezequiel &nbsp;Ordoqui, Jorge &nbsp;Olaiz, Pablo; Ordoqui, Daniel, Agostino, Mauro.</div>
        <div id="cke_pastebin">
            Taponazo:Vera, Pablo &nbsp; Mariano, Víctor &nbsp; Stefanoff, Marcelo, Díaz, Guillermo.</div>
        <div id="cke_pastebin">
            Manchester Matambre:Marcos Schwindt&nbsp;</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Categoría B.</div>
        <div>
            El Pincha: Zabala, Manuel. Habiendo estado sancionado, fue e insultó desde afuera al árbitro. Evidentemente muchas ganas de jugar la Copa no tenía. Expulsado del certamen.</div>
        <div id="cke_pastebin">
            El Point: Ibáñez, Pablo. Expulsado del torneo (al atajar un penal insulta a los adversarios: “Tomen, la c... de su madre”. Cuando se lo expulsa con roja directa, insulta al árbitro y lo amenaza: “La verdad, te rompería la cara a trompadas”. Y sus compañeros tuvieron que detenerlo...</div>
        <div id="cke_pastebin">
            Anónimo: Gonzalez, Esteban, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            El Pincha: Gutman, Sebastián, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            FONAVI: Salinas Damián, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Gigolos: Villán, Juan Manuel , vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Golópolis: Rica, Juan Pablo, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            La Banda 2013: Rodríguez, Juan Mario, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Amonestados:</div>
        <div id="cke_pastebin">
            Altos Hornos Zapla: Benavidez,Marcos &nbsp;Santos, Serafín &nbsp;</div>
        <div id="cke_pastebin">
            Aston Birra: Peirano, Esteban Peña, Leandro, Barraza, David, Gorozo, Sebastián, &nbsp;Morales, Franco; Queipo, Santiago; Peralta, Javier;&nbsp;</div>
        <div id="cke_pastebin">
            Barrio Metalúrgico: Palacio, Mauro, Cestona, Gustavo</div>
        <div id="cke_pastebin">
            Desde la Cuna: Soria, Nicolás &nbsp;&nbsp;</div>
        <div id="cke_pastebin">
            El Equipo del Tío: Gómez, Isaac, Gamalero, Juan Pablo, Beneitez, Marcos &nbsp;</div>
        <div id="cke_pastebin">
            El Pincha: Ojeda, Rubén &nbsp; &nbsp; &nbsp;</div>
        <div id="cke_pastebin">
            El Point: &nbsp;Alcibar, Sebastian &nbsp;Arce, César, &nbsp;Sánchez, Leandro &nbsp; Rodríguez, Matías, Basualdo, Felipe, Pérez, David</div>
        <div id="cke_pastebin">
            FONAVI: &nbsp;Mendoza, Facundo, Cadillac, Walter.</div>
        <div id="cke_pastebin">
            Gigolos: Canteros, Guillermo &nbsp; Moreno, Martín &nbsp; Carciocchi Ricardo, Gómez Pablo, Poggi, Cristian,&nbsp;</div>
        <div id="cke_pastebin">
            Golópolis: Arhía, Alejandro; Barandiaran, Damián, &nbsp;</div>
        <div id="cke_pastebin">
            La Banda 2013: &nbsp; Jeanmart, Andrés; Pradal, Martín; Baquero, Rodrigo; Monsalvo, Marcos</div>
        <div id="cke_pastebin">
            La Colada Loca: &nbsp; Ituarte Esteban &nbsp; &nbsp;Orellano José</div>
        <div id="cke_pastebin">
            La Filarmónica: Durruty, Gabriel</div>
        <div id="cke_pastebin">
            Los Isótopos de Alburquerque: Bulacio, Cristian &nbsp; Conti, Maximiliano, Fernández, Camilo, Pecchiar, Alessandro y Miguel, Emilio.</div>
        <div id="cke_pastebin">
            Los Pami: Zunzuneguy, Gastón, Dellamagiora, Ezequiel, Mendoza, Mauro, Bonaduce, Nahuel</div>
        <div id="cke_pastebin">
            Los Reyes: &nbsp;Zuasnabar,Federico &nbsp; &nbsp;Barriola, Leandro,&nbsp;</div>
        <div id="cke_pastebin">
            Paso de los Toros: &nbsp;Ferragine,Agustín, Beguiristain, Leonardo, Altamiranda, Juan S. Colantono, Pablo, Benítez, Raúl, Palacios, Carlos;&nbsp;</div>
        <div id="cke_pastebin">
            Popeye FC: Rubilar, Néstor &nbsp;Laulhé, Arturo &nbsp;Zumpano, Emil &nbsp; Dalavia, Santiago &nbsp; &nbsp;Corrado, Jorge, Gramuglia, Emiliano</div>
        <div id="cke_pastebin">
            The Coslo: Mastrángelo, Mauricio &nbsp;Cardarelli, Eugenio &nbsp;Vicente, Juan &nbsp; Giudici, Nicolás, Fano, Matías, Pinto, Martín</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Categoría C</div>
        <div id="cke_pastebin">
            <u><em><strong>Suspendidos</strong></em></u></div>
        <div id="cke_pastebin">
            Barrilete Cósmico: Flematti, Pablo, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Finoli Finoli: Dubourdieu, Fabián, vuelve fecha 11., Zubigaray, Leonardo, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Juanito Alcachofa: Etchegaray, Pedro, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Los Ecléticos:Rizzardi, Darío, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Los Pata de Lana: &nbsp;Prado, Andrés, vuelve fecha 11, tras ser expulsado agravió verbalmente al árbitro.</div>
        <div id="cke_pastebin">
            No corras que es Peor: Bertolotto, Saúl. Expulsado del torneo.&nbsp;</div>
        <div id="cke_pastebin">
            Real Cólicos: &nbsp;Arias, Lucas , vuelve fecha 10.</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Amonestados:</div>
        <div id="cke_pastebin">
            Demonios Sports:Luna, Emmanuel</div>
        <div id="cke_pastebin">
            Enchulame la Máquina:Madsen, Pablo, Gonnet, Mariano, Sánchez, Maximiliano</div>
        <div id="cke_pastebin">
            Finoli Finoli: Prytuluk,Sebastián &nbsp; Díaz, Andrés &nbsp; &nbsp; Rossi, Juan, Conti, Mario, Petrucci, Juan Luis</div>
        <div id="cke_pastebin">
            Irreversibles: Orcajada,Luciano &nbsp; López, Gabriel &nbsp; Presa, Diego, Kunicher, Sebastián, Eizmendi, Mariano</div>
        <div id="cke_pastebin">
            Juanito Alcachofa: González, Fernando &nbsp; Lema, Bruno</div>
        <div id="cke_pastebin">
            Kakarotos: Eyheralde, Nahuel &nbsp; García, Manuel &nbsp; García, David, Jaca, Ezequiel</div>
        <div id="cke_pastebin">
            La Caravana Mágica: Milan, Kevin, Triviño, Ignacio</div>
        <div id="cke_pastebin">
            La Peña: Llanos, Juan &nbsp; Mauhorat, Axel</div>
        <div id="cke_pastebin">
            Los Alfareros: Baiunco, Guido, Granato, Pablo, Crisanto, Rodrigo</div>
        <div id="cke_pastebin">
            Los Ecléticos: Trevolazavala Matías, &nbsp;Spagnola, Jorge</div>
        <div id="cke_pastebin">
            Los Norteños: Maldonado, Carlos &nbsp; &nbsp; Victor, Daniel Aranda, Nelson, Gamarra, Víctor</div>
        <div id="cke_pastebin">
            Los Pata de Lana:Icardo, Lucas &nbsp; &nbsp;Ruiz Díaz, Gonzalo, Bandeo, Gonzalo, Chazarreta, Marcelo</div>
        <div id="cke_pastebin">
            Nalm Forceres: Vieytes, manuel &nbsp;Inza, Tomás &nbsp; Porro, Mauro</div>
        <div id="cke_pastebin">
            Neroazzurro: Morales, Juan &nbsp;Bellido, Benjamín, Arrúa, César, Kruger, Ezequiel</div>
        <div id="cke_pastebin">
            No Corras que es peor: Arzani, Maximiliano &nbsp; Castillo, Ignacio &nbsp;Mastropierro, Juan</div>
        <div id="cke_pastebin">
            Notalokos: Viscay, Leonel &nbsp;Hidalgo, Aníbal, Destéfano, Juan</div>
        <div id="cke_pastebin">
            Nuevo Envase: De Luca, Martín &nbsp;Borches, Joaquin , Ramos, Lautaro</div>
        <div id="cke_pastebin">
            Pico y Pala: Ortiz, Alan, &nbsp;Rodríguez, Samuel</div>
        <div id="cke_pastebin">
            Real Cólicos: Arredondo, Federico</div>
        <div id="cke_pastebin">
            Tarres City: &nbsp;Rodríguez, Fabio &nbsp; Besani, Leandro &nbsp;Pereyra, Juan, García, Leandro, Arriaga, Matías&nbsp;</div>
        <div id="cke_pastebin">
            Tiki Tiki: Fadón Javier, Testa, Leonardo, Cayuqueo, Carlos</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Categoría D:&nbsp;</div>
        <div id="cke_pastebin">
            <em><u>Suspendidos</u></em></div>
        <div id="cke_pastebin">
            Atlético en Reposo: &nbsp;Bedrosiain, Rodrigo. Vuelve fecha 10.&nbsp;</div>
        <div id="cke_pastebin">
            Chimenea FC: Salas, Julián, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Lobo Stone: Gil, Daniel, vuelve fecha 10.&nbsp;</div>
        <div id="cke_pastebin">
            Nottingham Miedo: Ritcher, Brian, vuelve fecha 11.</div>
        <div id="cke_pastebin">
            Pinturería Coloramix: Nuñez, Gonzalo, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Sp. Cremaster: Lucio, Emiliano, vuelve fecha 11, insultó.</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Amonestados:&nbsp;</div>
        <div id="cke_pastebin">
            Atlético en Reposo: Pietrocolo, Agustín &nbsp; Bedrosiain, Rodrigo &nbsp; Fonzo, Mariano, Gabastou, Mariano</div>
        <div id="cke_pastebin">
            Bajón y Yerry: &nbsp;Argüeso, Gustavo &nbsp; &nbsp;Argüeso, Lucas</div>
        <div id="cke_pastebin">
            Brigada Z: Docimo, Marcos, &nbsp;Arias, Esteban &nbsp; &nbsp;Quiña, Miguel</div>
        <div id="cke_pastebin">
            Centro de Comunicación:Camilatti, Agustín &nbsp; Forte, Eduardo &nbsp; Zamora, Facundo &nbsp; De la O, Gastón&nbsp;</div>
        <div id="cke_pastebin">
            Centro de Rehabilitación: Carmelo, Alfredo &nbsp; Laz, Jorge &nbsp; Isern, Pablo, Gómez Mauro,&nbsp;</div>
        <div id="cke_pastebin">
            Chimenea: &nbsp; Tiscornia, Matías, Ceide, Fermín y Mastronardi, Juan.</div>
        <div id="cke_pastebin">
            Doce Caldos:Federico, Jorge; Arias, Leonardo.</div>
        <div id="cke_pastebin">
            El Pato Minibús:Leunda Fernando &nbsp; Gonzalez, Emilio, Caballero, Martín</div>
        <div id="cke_pastebin">
            La Juve:Etchemendy Ignacio &nbsp; &nbsp;Jiam Guillermo, Andraca, Franco</div>
        <div id="cke_pastebin">
            Lobo Stone:Elizari, Sergio, Lunghi, Franco; Mena, Juan;</div>
        <div id="cke_pastebin">
            Los Lorenzo: Lorenzo, Tomás &nbsp; Quiroga, Luciano &nbsp;&nbsp;</div>
        <div id="cke_pastebin">
            Los Mismos de Siempre:Paz, Mariano &nbsp;Leiva, Maximiliano &nbsp;Lescano, Hugo, Puggioni, Fernando</div>
        <div id="cke_pastebin">
            Los Reyes en Copas: &nbsp;Manazzoni, Gastón &nbsp; &nbsp; Ponce, Alvaro, Solimanto, Pedro</div>
        <div id="cke_pastebin">
            Mañana Te digo: &nbsp;Torrano, Emanuel &nbsp;Castaño, Nicolás,. Cepeda, Miguel</div>
        <div id="cke_pastebin">
            Muska FC: &nbsp;Franco, Carlos, Schvedt, José</div>
        <div id="cke_pastebin">
            Notthingham Miedo:Galán, Gonzalo &nbsp; &nbsp;Montenegro, Juan J &nbsp;Berriry, Marcelo &nbsp; &nbsp;</div>
        <div id="cke_pastebin">
            Pinturería Coloramix: &nbsp;Prado, Matías &nbsp;&nbsp;</div>
        <div id="cke_pastebin">
            Sportiva FC: Rodriguez, Isaías &nbsp; Eden, Nahuel, Malisia, Ignacio</div>
        <div id="cke_pastebin">
            Sp. Cremaster:Franco, Gonzalo, Emiliano Lucio y Maximiliano Lucio.</div>
        <div id="cke_pastebin">
            &nbsp;</div>
        <div id="cke_pastebin">
            Categoría E:</div>
        <div id="cke_pastebin">
            <u><em>Suspendidos</em></u></div>
        <div id="cke_pastebin">
            Banda de Hermanos: &nbsp;Escudero, Sebastián, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Deportivo Pasto: Iturregui Federico, vuelve fecha 10.</div>
        <div id="cke_pastebin">
            Los Obreros: Vázquez, Cristian , vuelve fecha 10.</div>
        <div>
            &nbsp;</div>
        <div id="cke_pastebin">
            Amonestados (pueden jugar):</div>
        <div id="cke_pastebin">
            Banda de Hermanos: &nbsp; Cejas, Franco &nbsp; Rojas, Germán</div>
        <div id="cke_pastebin">
            Como un Mármol: &nbsp;Bengochea, Gonzalo &nbsp; Fernández, Guido, Calvo, Esteban&nbsp;</div>
        <div id="cke_pastebin">
            Deportivo Pasto: Buzzo, Martin &nbsp; &nbsp;</div>
        <div id="cke_pastebin">
            Gallo Vallecano: Larreategui, Martín</div>
        <div id="cke_pastebin">
            La Chevy de Seba: Ríos, Marcos, Santillán, Jonatan</div>
        <div id="cke_pastebin">
            La Cuerva: Risso, Juan Eloy &nbsp; Nuñez, Nicolás &nbsp; Albornoz, Sebastián, Iañez, Agustín</div>
        <div id="cke_pastebin">
            Los Obreros: Vallez, Horacio, Baracco, Maximiliano,&nbsp;</div>
        <div id="cke_pastebin">
            Los Xeneizes: Videla Franco, Monsalvo, Ariel, Lagano, Nicolás</div>
        <div id="cke_pastebin">
            Malvinas: Rodríguez Adrián, Ibáñez, Adrián; Díaz, Javier&nbsp;</div>
        <div id="cke_pastebin">
            Manjatan FC: Constantino, Sebastián</div>
        <div id="cke_pastebin">
            Sandro Sanitarios: Cabrera, Alejandro &nbsp; Ruiz, Matías &nbsp; Torres, Matías, Torres, Marcos, Gallarreta, Gonzalo &nbsp;&nbsp;</div>
        <div id="cke_pastebin">
            SUPEF: Hevia, Lucas; Muñoz, Matías;</div>
        <div id="cke_pastebin">
            Vizcacha Acalambrada: Funaro, Federico; Urban, Cristian; Montero, Claudio; &nbsp;Sarasola, Andrés</div>
    </div>

    <p class="nombre">Cosa@cosadeserranos.com.ar</p>
</div>
