<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ar.com.cosadeserrabis.copa"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Copa Cosa de Serranos</name>

    <description>
        Actualizaciones semanales de la copa de serranos.
    </description>

    <author href="https://www.facebook.com/feer87m" email="fertandil87@gmail.com">
        Fernando Saez
    </author>

    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
</widget>